@{
    ViewBag.Title = "Schedule";
}

    <h1>@ViewData["Title"]</h1>

    <br/>

    <div>
        <table id="table" class="col-md-12 align-middle table-bordered text-center">
            <tr>
                <th class="text-center header">Monday</th>
                <th class="text-center header">Tuesday</th>
                <th class="text-center header">Wednesday</th>
                <th class="text-center header">Thursday</th>
                <th class="text-center header">Friday</th>
            </tr>

            <tr>
                <th class="text-center table-primary time">09:00 - 13:00</th>
                <th class="text-center table-primary time">09:00 - 13:00</th>
                <th class="text-center table-primary time">09:00 - 13:00</th>
                <th class="text-center table-primary time">09:00 - 13:00</th>
                <th class="text-center table-primary time">09:00 - 13:00</th>
            </tr>

            <tr>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
            </tr>

            <tr>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Teodor</td>
            </tr>


            <tr>
                <td class="text-center table-entry">Georgi</td>
                <td class="text-center table-entry">Dimitar</td>
                <td class="text-center table-entry">Maria</td>
                <td class="text-center table-entry">Georgi</td>
                <td class="text-center table-entry">Georgi</td>
            </tr>


            <tr>
                <td class="text-center table-entry">Elena</td>
                <td class="text-center table-entry"></td>
                <td class="text-center table-entry">Elena</td>
                <td class="text-center table-entry"></td>
                <td class="text-center table-entry"></td>
            </tr>


            <tr>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
            </tr>

            <tr>
                <th class="text-center table-primary time">14:00 - 18:00</th>
                <th class="text-center table-primary time">14:00 - 18:00</th>
                <th class="text-center table-primary time">14:00 - 18:00</th>
                <th class="text-center table-primary time">14:00 - 18:00</th>
                <th class="text-center table-primary time">14:00 - 18:00</th>
            </tr>

            <tr>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
                <td class="text-center table-primary entertainer"> Niki - 0888 888 888 </td>
            </tr>

            <tr>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Ivan</td>
                <td class="text-center table-entry">Teodor</td>
            </tr>


            <tr>
                <td class="text-center table-entry">Georgi</td>
                <td class="text-center table-entry">Dimitar</td>
                <td class="text-center table-entry">Maria</td>
                <td class="text-center table-entry">Georgi</td>
                <td class="text-center table-entry">Georgi</td>
            </tr>


            <tr>
                <td class="text-center table-entry">Elena</td>
                <td class="text-center table-entry"></td>
                <td class="text-center table-entry">Elena</td>
                <td class="text-center table-entry"></td>
                <td class="text-center table-entry"></td>
            </tr>

            <tr>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book <br /> <small>Available:10</small> </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book <br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book <br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book <br /> <small>Available:10</small></button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary justify-content-center booking-button">Book<br /> <small>Available:10</small></button>
                </td>
            </tr>

        </table>
        
    </div>