
@{
    ViewData["Title"] = "Reports";
}

<div id="reports">
    <div class="text-left offset-md-3">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col-md-6 offset-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Report Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Last Week</td>
                    <td class="text-right"><button type="button" class="btn btn-primary">Download</button></td>
                </tr>

                <tr>
                    <td class="align-middle">Last Month</td>
                    <td class="text-right"><button type="button" class="btn btn-primary">Download</button></td>
                </tr>

                <tr>
                    <td class="align-middle">Last Year</td>
                    <td class="text-right"><button type="button" class="btn btn-primary">Download</button></td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>

