@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User Guide</h1>
    <div class="text-left">
        <h3>How to log in?</h3>
        <p>Click on the <b>Login</b> button.</p>
    </div>
</div>
